<form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">
  <div class="flex-row">
    <h3>{{ formConfig.title }}</h3>
    <button
      class="cross"
      type="button"
      (click)="formCloseEvent.emit()"
    ></button>
  </div>
  <div>
    <input
      type="text"
      name="task-title"
      id="task-title"
      placeholder="Enter task title"
      required
      autocomplete=""
      [(ngModel)]="formValues.title"
    />
    <label for="task-title">Task Title</label>
  </div>
  <div>
    <textarea
      name="task-desc"
      id="task-desc"
      rows="6"
      placeholder="Enter Task Description (optional)"
      [(ngModel)]="formValues.desc"
    ></textarea>
    <label for="task-desc">Task Description</label>
  </div>
  <div class="checkbox">
    <app-checkbox
      (onCheck)="formValues.completed = $event"
      [checkboxInputs]="{ checked: formValues.completed, id: 'form' }"
    ></app-checkbox>
    <div *ngIf="formValues.completed; else undone"><span>Completed</span></div>
    <ng-template #undone>
      <div><span>Undone</span></div>
    </ng-template>
  </div>
  <button type="submit" [disabled]="taskForm.invalid">
    <app-button [buttonConfig]="formConfig.buttonConfig"></app-button>
  </button>
</form>
