<div class="title-block">
  <h4>{{ task.title }}</h4>
  <div>
    <svg class="edit">
      <use href="sprite.svg#edit"></use>
    </svg>
    <svg class="trash">
      <use href="sprite.svg#trash"></use>
    </svg>
  </div>
</div>
<div class="desc-block">
  <app-checkbox
    (onCheck)="task.completed = $event"
    (onCheck)="
      taskService.taskEditSubject.next({ completed: $event, apiId: task.apiId })
    "
    [checkboxInputs]="{ checked: task.completed, id: task.apiId }"
  ></app-checkbox>
  <p>
    {{ task.desc }}
  </p>
</div>
