<div class="title-block">
  <h4>Task Title</h4>
  <div>
    <svg class="edit">
      <use href="sprite.svg#edit"></use>
    </svg>
    <svg class="trash">
      <use href="sprite.svg#trash"></use>
    </svg>
  </div>
</div>
<div class="desc-block">
  <app-checkbox></app-checkbox>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quae
    veritatis distinctio odio! Magnam, doloremque nostrum ratione ipsam
    excepturi ipsa laudantium qui repudiandae dignissimos minus. Soluta cum
    assumenda nulla inventore.
  </p>
</div>
